/* ANIMATION */

@keyframes spinny {
    from  {
        transform: rotate(0deg) scale(0.1,0.1);
    }
    to {
        transform: rotate(2160deg) scale(1,1);
    }
}


@keyframes drop-down{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0)
    }
}

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Droid Serif', serif;
    color: #2f2f2f;
    background-color: #000;
    animation-name: spinny;
    animation-timing-function: ease-out;
    animation-duration: .7s;

}

.header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2rem;
}

h2{
    text-transform: uppercase;
}
.date{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    margin-bottom: 20px;
}


a{
    font-family: 'Droid Serif', serif;
    color: #2f2f2f;
    text-decoration: none;
}
.container{
    width: 95%;
    margin: 5% auto;
    background-color: #f9f7f1;
    animation-name: spiny;
    animation-duration: .8s;
}

/* HEADER */

.header{
    text-align: center;
    text-transform: uppercase;
}
.columns{
    display: flex;
    flex-wrap: wrap;
}
.column{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-content{
    display: block;
    width: 80%;
    margin: 10px auto;
}


img{
    display: block;
    width: 60%;
    margin: 10px auto;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
}

.main{
    width: 70%;
    margin: 0 auto;
}

/* LIST */

.skill-list{
    list-style: upper-roman;
}

.column__title::before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
    flex-wrap: ;
}

.column__title::after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
    flex-wrap: ;
}


.fb-link{
    text-decoration: underline;
    font-style: italic;
}

.quality{
    height: 60px;
    width: 60px;
    position: absolute;
    top:10%;
    right: 5%;
    filter: none;
    animation-name: drop-down;
    animation-duration: 3s;


}

/*MEDIAQUERIES*/

@media only screen and (min-width: 500px){
    .column{
        width: 50%;
    }
    .quality{
        height: 120px;
        width: 120px;
        right: 10%;
    }
}